.card-header{
    display: flex;
    justify-content: space-between;
}
.btn-product-index{
    justify-content: space-evenly;
}

.product-menu{
    border-bottom: 4px solid rgb(44, 44, 44);
}
a{
    font-size: larger;
}
